@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background: #f2f2f2;
}

h2 {
  font-size: 42px;
  color: #272a2e;
}

h2 span {
  color: #949da7;
}

.row,
.chart-wrapper {
  width: 1000px;
  margin: 0 auto;
}

.block {
  display: inline-block;
  min-width: 20%;
  max-width: 20%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

  text-align: center;
}

.block h4 {
  font-size: 18px;
  font-weight: 400;
  color: #949da7;
}

.block hr {
  max-width: 50%;
}

.block p {
  font-weight: bold;
  font-size: 20px;
}

.info-label {
  text-align: center;
  padding: 50px;
  font-size: 20px;
}