html.miso,
body.miso {
  height: 100%;
  display: grid;
  background: #111;
  font-family: "Roboto", sans-serif;
  text-align: center;
  align-content: center;
}
body.miso h1 {
  color: #fff;
  font-size: 8vw;
  margin: auto;
}
